.contentHomePageApi{
    max-width: 450px;
    height: 500px;
    margin: 3rem auto  auto;
    background-color: #fff;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.contentHomePageApi h1{
    margin-bottom: 2rem;
    text-align: center;
}
.contentBox{
    display: flex;
}
.contentImg{
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contentImg img{
    width: 100px;
    height: 100px;
    display: block; 
}