.contentUserList{
    max-width: 800px;
    margin: 3rem auto 3rem auto;
    background-color: #fff;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.contentUserList h1{
    text-align: center;
    margin-bottom: 2rem;
}
.cotentCreateUser{
    width: 450px;
    margin: 0 auto;
}
.cotentCreateUser h2{
    margin-bottom: 1rem;
}
.imgDataTable{
    width: 50px;
    display: block;
}
.contentButtonCreateUser{
    display: flex;
    justify-content: end;
    margin-bottom: 1rem;
}
.contentButtonCreateUser button{
    background-color:rgb(89, 174, 189);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    color: #fff;
    border: none;
}
.contentButtonCreateUser button:hover{
    background-color:rgb(49, 103, 113);
    transition: 0.3s ease;    
}